PORT="port running"
PROJECT_PATH="relative path in ec2"
DATABASE_URL=prisma-database-url
JWT_SECRET=your-jwt-secret
BASE_URL=backend-base-url
NODE_ENV=development/production
ALLOWED_ORIGINS=your-allowed-origin